
body{
  background-color:thistle;
}

/* .test1{
  background-color: red;
  text-align: center;
  font-weight: bold;
} */

/* .test2{
  font-weight: bold;
  border: 10px solid green;
  text-align: center;
} */

/* .test3{
  font-weight:bold;
  text-align:center;
} */

h1{
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
  color: blue;
  background-color:aqua;
  letter-spacing: -0.1rem;
}

div{
  border:10px solid green;
  width:100px;
}

.glass {
  flex-direction: row;
  display: inline-block;

  /* flex-wrap: wrap;
  justify-content: center; */
  border: 10px solid gold;
  margin-bottom: 20px;
}

/*  이미지 태그는 인라인블록인데 특이하게 너비는 먹음. 이미지 고유의 사이즈가 있음. */
img{
  width:800px;
  object-fit:cover;
  border: 10px solid salmon;
}

p {
  text-align: center;
}

.outline1{
  color:rgb(3, 69, 47);
  font-family: 'Grandiflora One', cursive;
  /* font-family: 'Song Myung', serif; */
  font-weight: bold;
}

#intro{
  display: inline-block;
  /* align-items: flex-end;
  align-content: center; */
  width: 800px;
  margin: 50rem 1rem 1rem 0 ;
  outline: 5px solid rgba(0,0,0,.2);
  vertical-align: top;
  position:absolute;
  border-radius: 10px;
  padding:20px;
}

/* 4(div>a)+(section>a*7)
div{
  text-align:center; 
  //인라인은 부모한테 글자취급당한다.따라서 a는 글자취급당함. inline자체에, 즉 a안에 text-aline을 걸면 인라인인 a에는 정렬할 공간 자체가 없숨..
  border: 10px solid pink;
  display:inline-block;//인라인 블록을 주면 너비가 최소화된다. 그래서 text-align:center가 안먹는다.너비를 크게 추가로 주지 않는이상 a가 정렬될 여지가 없음. 그래서 인라인블록과 센터를 같이 준다는 의미가 없는거임.
}
  a{
    color:black;
    text-decoration:none;
  }
  div>a{
    font-weight:bold;
    font-size:4rem;
    letter-spacing:-0.4rem;
    background-color:red;
  }
  section{
    font-weight:bold;
  } */

a{
  color:black;
  text-decoration:none;

}
div > a{
  font-weight:bold;
  font-size: 4rem;
  letter-spacing:-0.3rem;
}

section{
  font-weight:bold;
  text-align:center;
}

section > nav{
  border: 10px solid slateblue;
  display:inline-block;
  width: 180px;
}

section > nav > a {
  background-color:red;
  display:block;
  }
section > nav > a:hover{
  color:azure;
  }